{% include 'sitio/cabecera.html' %}




<br />
<div class="card">


  <div class="card-header">
   <h6 align="center">Alta del álbum</h6> 


  </div>

  <div class="card-body">
    <form action="altaalbum/guardar" method="post" enctype="multipart/form-data">
      <div class="form-row">
        
        <div class="form-group col-1">


        </div>
        
        <div class="form-group col-md-1">
          <label for="codigo">Codigo</label>
          <input type="text" class="form-control" name="txtcodigo" id="codigo" placeholder="Codigo" required>
        </div>
        <div class="form-group col-md-6">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="txtnombre" id="nombre" placeholder="Nombre" required>
        </div>
        <div class="form-group col-md-3">
          <label for="interprete">Interprete</label>
          <select id="inteprete" name="txtinterprete" class="form-control" required>
        
            {% for interprete in interpretes%}
            <option value="{{interprete[0]}}">{{interprete[1]}} {{interprete[2]}}</option>
            {% endfor%}
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-1">


        </div>
        <div class="form-group col-md-3">
          <label for="genero">Genero</label>
          <select id="genero" name="txtgenero" class="form-control" required>

            {% for genero in generos%}
            <option value="{{genero[0]}}">{{genero[1]}}</option>
            {% endfor%}
          </select>
        </div>
        <div class="form-group col-md-1">
          <label for="temas">Nro.temas</label>
          <input type="number" class="form-control" id="temas" name="txttemas" minvalue="1" pattern="99"  required>
        </div>
        <div class="form-group col-md-3">
          <label for="discografica">Discográfica</label>
          <select id="discografica" name="txtdiscografica" class="form-control" required>
           
            {% for discografica in discograficas%}
            <option value="{{discografica[0]}}">{{discografica[1]}}</option>
            {% endfor%}
          </select>

        </div>

        <div class="form-group col-md-3">
          <label for="formato">Formato</label>
          <select id="formato" name="txtformato" class="form-control" required>
        
            {% for formato in formatos%}
            <option value="{{formato[0]}}">{{formato[1]}}</option>
            {% endfor%}
          </select>

        </div>
        <div class="form-row">
          <div class="col-1">

          </div>
        <div class="form-group col-md-2">
          <label for="fecha">Fecha lanzamiento</label>
          <input type="date" class="form-control" id="fecha" name="txtfecha" required>
        </div>
        <div class="form-group col-md-2">
          <label for="precio">Precio</label>
          <input type="number" step='any' class="form-control" min=0.00 id="precio" name="txtprecio" required>
        </div>
        <div class="form-group col-md-1">
          <label for="cantidad">Stock</label>
          <input type="number" class="form-control" id="cantidad" min="0" name="txtcantidad" required>
        </div>

        <div class="form-group col-md-3">
          <label for="caratula2">.</label>
          <input type="text" value="sin_imagen.png" disabled class="form-control caratula2" id="caratula2" name="txtcaratula2">
        </div>

        <div class="form-group col-md-2">
          <label for="caratula">Caratula</label>
          <input type="file" class="form-control" id="caratula" onchange="mostrarSeleccion()" name="txtcaratula">
        </div>
      </div>

    </div>
        <div class="form-row">
   
                <div class="col-md-5">      
                  
          
                </div>      
         <div class="col-4">      
        <button type="submit" class="btn btn-primary text-center">Dar alta</button>

      </div> 
    </div>

    </form>


  </div>
  <div class="card-footer text-muted">

  </div>
</div>


<script src="/js/utilidades.js"></script>


{% include 'sitio/pie.html' %}