{% include 'sitio/cabecera.html'%}




        <div class="row">
            <div class="col-12">
                <br/>
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Intérprete</th>
                            <th>Género</th>
                            <th>Discográfica</th>
                            <th>Formato</th>
                            <th></th>
                            <th>Acciones
                                
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
              
                          {% for album in albums %}
                            <tr>
                                <td class="textoform">{{album[1]}}</td>
                                <td class="textoform">{{album[2]}}</td>
                                <td class="textoform">{{album[3]}}  {{album[4]}}</td>
                                <td class="textoform">{{album[5]}}</td>
                                <td class="textoform">{{album[6]}}</td>
                                <td class="textoform">{{album[9]}}</td>

                                <td>
                                  <form action="listaalbumes/detalle/{{album[0]}}" method="post">
                                      <input type="hidden" value="{{album[0]}}" name="txtid3">
                                      <button type="submit" class="btn btn-sm btn-success">Detalle</button>
                                  </form>
                            
                               </td>  
                                <td>
                                    <form action="listaalbumes/borrar/{{album[0]}}" method="post" onsubmit="return confirm('¿ Esta seguro de eliminar los datos del album?');">
                                        <input type="hidden" value="{{album[0]}}" name="txtid" id="txtid">
                                        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                                    </form>
                            
                                </td>
                                 <td>
                                    <form action="listaalbumes/modificar/{{album[0]}}" method="post">
                                        <input type="hidden" value="{{album[0]}}" name="txtid2">
                                        <button type="submit" class="btn btn-sm btn-primary">Editar</button>
                                    </form>

                                 </td>   
 

                            </tr>
                          {% endfor %}      
                    </tbody>
                </table>
            </div>
        </div>

    

{% include 'sitio/pie.html' %}